# Example FHEM HTTPMOD setup.
#
# Use this if you do not want MQTT. Replace the host with the RPi/Docker host
# or the bridge container name/IP.

define midea.portasplit.http HTTPMOD http://127.0.0.1:8765/state 30
attr midea.portasplit.http alias Midea PortaSplit
attr midea.portasplit.http room Klima
attr midea.portasplit.http extractAllJSON 1
attr midea.portasplit.http stateFormat power mode target_temperature °C indoor_temperature °C real_time_power_usage W

attr midea.portasplit.http set01Name power
attr midea.portasplit.http set01Hint on,off
attr midea.portasplit.http set01TextArg 1
attr midea.portasplit.http set01URL http://127.0.0.1:8765/set?power=$val

attr midea.portasplit.http set02Name target_temperature
attr midea.portasplit.http set02Hint slider,16,0.5,30
attr midea.portasplit.http set02URL http://127.0.0.1:8765/set?target_temperature=$val

attr midea.portasplit.http set03Name mode
attr midea.portasplit.http set03Hint auto,cool,dry,heat,fan_only
attr midea.portasplit.http set03TextArg 1
attr midea.portasplit.http set03URL http://127.0.0.1:8765/set?mode=$val

attr midea.portasplit.http set04Name fan_speed
attr midea.portasplit.http set04Hint auto,silent,low,medium,high,max
attr midea.portasplit.http set04TextArg 1
attr midea.portasplit.http set04URL http://127.0.0.1:8765/set?fan_speed=$val

attr midea.portasplit.http set05Name up_and_down
attr midea.portasplit.http set05Hint on,off
attr midea.portasplit.http set05TextArg 1
attr midea.portasplit.http set05URL http://127.0.0.1:8765/set?up_and_down=$val

attr midea.portasplit.http set06Name out_silent
attr midea.portasplit.http set06Hint on,off
attr midea.portasplit.http set06TextArg 1
attr midea.portasplit.http set06URL http://127.0.0.1:8765/set?out_silent=$val

attr midea.portasplit.http set07Name eco
attr midea.portasplit.http set07Hint on,off
attr midea.portasplit.http set07TextArg 1
attr midea.portasplit.http set07URL http://127.0.0.1:8765/set?eco=$val

attr midea.portasplit.http set08Name boost
attr midea.portasplit.http set08Hint on,off
attr midea.portasplit.http set08TextArg 1
attr midea.portasplit.http set08URL http://127.0.0.1:8765/set?boost=$val

attr midea.portasplit.http set09Name led
attr midea.portasplit.http set09Hint on,off
attr midea.portasplit.http set09TextArg 1
attr midea.portasplit.http set09URL http://127.0.0.1:8765/set?led=$val

attr midea.portasplit.http set10Name ion
attr midea.portasplit.http set10Hint on,off
attr midea.portasplit.http set10TextArg 1
attr midea.portasplit.http set10URL http://127.0.0.1:8765/set?ion=$val

attr midea.portasplit.http set11Name sound
attr midea.portasplit.http set11Hint on,off
attr midea.portasplit.http set11TextArg 1
attr midea.portasplit.http set11URL http://127.0.0.1:8765/set?sound=$val

attr midea.portasplit.http set12Name smart_sleep
attr midea.portasplit.http set12Hint on,off
attr midea.portasplit.http set12TextArg 1
attr midea.portasplit.http set12URL http://127.0.0.1:8765/set?smart_sleep=$val

attr midea.portasplit.http set13Name gear
attr midea.portasplit.http set13Hint off,gear_50,gear_75,level_1,level_2,level_3,level_4,level_5
attr midea.portasplit.http set13TextArg 1
attr midea.portasplit.http set13URL http://127.0.0.1:8765/set?gear=$val
