# Ready-to-use FHEM HTTPMOD definition for the RPi deployment.
# The bridge container uses host networking and listens on port 8765.

define midea.portasplit HTTPMOD http://10.0.0.80:8765/state 30
attr midea.portasplit alias Midea PortaSplit
attr midea.portasplit room Klima
attr midea.portasplit extractAllJSON 1
attr midea.portasplit stateFormat power mode target_temperature °C indoor_temperature °C real_time_power_usage W

attr midea.portasplit set01Name power
attr midea.portasplit set01Hint on,off
attr midea.portasplit set01TextArg 1
attr midea.portasplit set01URL http://10.0.0.80:8765/set?power=$val

attr midea.portasplit set02Name target_temperature
attr midea.portasplit set02Hint slider,16,0.5,30
attr midea.portasplit set02URL http://10.0.0.80:8765/set?target_temperature=$val

attr midea.portasplit set03Name mode
attr midea.portasplit set03Hint auto,cool,dry,heat,fan_only
attr midea.portasplit set03TextArg 1
attr midea.portasplit set03URL http://10.0.0.80:8765/set?mode=$val

attr midea.portasplit set04Name fan_speed
attr midea.portasplit set04Hint auto,silent,low,medium,high,max
attr midea.portasplit set04TextArg 1
attr midea.portasplit set04URL http://10.0.0.80:8765/set?fan_speed=$val

attr midea.portasplit set05Name up_and_down
attr midea.portasplit set05Hint on,off
attr midea.portasplit set05TextArg 1
attr midea.portasplit set05URL http://10.0.0.80:8765/set?up_and_down=$val

attr midea.portasplit set06Name out_silent
attr midea.portasplit set06Hint on,off
attr midea.portasplit set06TextArg 1
attr midea.portasplit set06URL http://10.0.0.80:8765/set?out_silent=$val

attr midea.portasplit set07Name eco
attr midea.portasplit set07Hint on,off
attr midea.portasplit set07TextArg 1
attr midea.portasplit set07URL http://10.0.0.80:8765/set?eco=$val

attr midea.portasplit set08Name boost
attr midea.portasplit set08Hint on,off
attr midea.portasplit set08TextArg 1
attr midea.portasplit set08URL http://10.0.0.80:8765/set?boost=$val

attr midea.portasplit set09Name led
attr midea.portasplit set09Hint on,off
attr midea.portasplit set09TextArg 1
attr midea.portasplit set09URL http://10.0.0.80:8765/set?led=$val

attr midea.portasplit set10Name ion
attr midea.portasplit set10Hint on,off
attr midea.portasplit set10TextArg 1
attr midea.portasplit set10URL http://10.0.0.80:8765/set?ion=$val

attr midea.portasplit set11Name sound
attr midea.portasplit set11Hint on,off
attr midea.portasplit set11TextArg 1
attr midea.portasplit set11URL http://10.0.0.80:8765/set?sound=$val

attr midea.portasplit set12Name smart_sleep
attr midea.portasplit set12Hint on,off
attr midea.portasplit set12TextArg 1
attr midea.portasplit set12URL http://10.0.0.80:8765/set?smart_sleep=$val

attr midea.portasplit set13Name gear
attr midea.portasplit set13Hint off,gear_50,gear_75,level_1,level_2,level_3,level_4,level_5
attr midea.portasplit set13TextArg 1
attr midea.portasplit set13URL http://10.0.0.80:8765/set?gear=$val
